<div ng-controller="AppCtrl">
        <div class="fa-header">
            <div class="fa-logo-area">
                <img src="images/fa-main-logo.png" class="fa-logo">
            </div>
            <div class="fa-login-area">
               <div class="fa-logged-in" ng-show="user.name!='login'">
                   <a ng-click="logout()" class="fa-logout-btn">Log out</a>
                   <img ng-src="{{user.prop_pict}}" class="fa-profile-pic" >
               </div>
               <div class="fa-logged-out" ng-show="user.name=='login'">
                   <button class="fa-login-btn" ng-click="FBlogin()">
                       <i class="fa fa-facebook"></i> Login
                   </button>
               </div>

            </div>

        </div>

        <div class="fa-card-opt-area">
            <div class="fa-card">
                <img id="card_img" ng-src="images/{{mainurl}}">
            </div>
            <div class="fa-card-nav-area">
                <a class="fa-card-nav-prev">
                    <img src="images/fa-prev-btn.png" class="img_nav" id="image_down" ng-click="select_pic(0)">
                </a>
                <div class="fa-card-nav-count"></div>
                <a class="fa-card-nav-next">
                    <img src="images/fa-next-btn.png" class="img_nav" id="image_down" ng-click="select_pic(1)">
                </a>
            </div>
        </div>

        <div class="fa-edit-panel" id="fa-edit-panel" ng-show="toggler">
           <div class="fa-edit-options">
              <label class="">Click on the message below to edit it</label>
               <div class="fa-editable-msg" id="message"> 
                   <p>The dark ones run when they see the sun.</p>
                   <p>But you and I, we only run for fun.</p>
                   <p>My BBF Forever:</p>
                   <p>Olakuunmi.</p>
               </div>

              <div class="fa-fb-friend-list">
                  <label>Who would you like to share this card with?</label>
                <angucomplete class='fa-floater' localdata="allfriends"
                      id="friendlist"
                      titlefield="name"
                      searchfields="name"
                      selectedobject="id"
                      imagefield="picture.data.url"
                      minlenght='3'
                      placeholder="Type Friend's Facebook name" />
              </div>
               
               <div>
                   <button class="fa-draw-btn" ng-click="draw()">Create Card</button>

               </div>
           </div>

           <div class="fa-cavass-draw">
               <div  class="fa-drawn-card" ng-show="showcanvass">
                    <canvas id="card" width="540" height="400" style="border:1px solid #d3d3d3;text-align:left;text-indent:0;">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </div>
            </div>

        </div>

        <div class="fa-action-bar">
            <div class="fa-edit-btn-area">
                <a ng-model="toggler" ng-click="toggler=!toggler" class="fa-edit-btn">
<!--                    <span class="fa-icon fa-edit-icon"></span>-->
                    Add a Message
                </a>
            </div>
            <div class="fa-like-btn-area"></div>
            <div class="fa-post-btn-area"></div>
            <div class="fa-share-btn-area">
                <button class="fa-share-btn" ng-show="user.name!='login'" ng-click="saveandupload()">
<!--                   <span class="fa-icon fa-share-icon"></span>-->
                    Share with friend
                </button>
                <a class="fa-share-btn" ng-show="user.name=='login'" ng-click="FBlogin()">Login to share</a>
            </div>
        </div>

        <div class="fa-credit-bar">
            <ul>
                <li><a>Ts & cs</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>About Minimie</a></li>
            </ul>
        </div>





</div>
